{% extends "base.html" %}
{% block title %}Piece detail{% endblock %}
{% block heading %}Piece: <i>{{piece.name}}</i> {% endblock %}
{% block content %}
<div align=left>
<table>
<tr><th align=left>Serial number:</th><td>{{piece.id}}</td></tr>
<tr><th align=left>Composer:</th>
<td>
{% if piece.composed_by%}
	{%if piece.composed_by.all|length  %}
		{{ piece.composed_by.all|join:", " }}
	{%else%}{{piece.composer}}
	{%endif%}
{%else%}{{piece.composer}}{% endif %}</td>

</tr>
<tr><th align=left>Publisher:</th><td>{{piece.publisher}}</td></tr>
{%if piece.original_ref%}<tr><th align=left>Publisher's ref:</th><td>{{piece.original_ref}}</td></tr>{%endif%}
<tr><th align=left>Instrument:</th><td>{{piece.instrument}}</td></tr>
<tr><th align=left>Parts:</th><td>{{piece.parts |stringformat:"i"}}</td></tr>
<tr><th align=left>Copies:</th><td>{{piece.number_of_copies}}</td></tr>
<tr><th align=left>Box:</th><td>{{piece.box}}</td></tr>
<tr><th align=left style="vertical-align: top;">Notes:</th><td>{{piece.notes|safe}}</td></tr>

{% endblock %}
